/*--- Avanquest WebEasy Page Style ---*/


.cc01               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc02               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc03               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
span#e47            { /* genera001020.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(genera001020.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 152.25pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
span#e46            { /* genera001019.gif */
	border          :   0.00pt none #ccffff;
	background      : transparent url(genera001019.gif) no-repeat top left;
	position        : absolute;
	left            : 337.50pt;
	top             :   0.00pt;
	width           : 142.50pt;
	height          : 358.50pt;
	}
h5#e45              { /* Famille Albinet         ... */
	color           : #000000;
	text-align      : right;
	position        : absolute;
	left            : 340.50pt;
	top             : 153.75pt;
	width           : 105.75pt;
	height          :  27.75pt;
	}
a#a45               { /* Famille Albinet         ... */
	color           : #000000;
	}
h5#e44              { /* Famille Crozes          ... */
	color           : #000000;
	text-align      : right;
	position        : absolute;
	left            : 340.50pt;
	top             : 271.50pt;
	width           : 106.50pt;
	height          :  33.75pt;
	}
a#a44               { /* Famille Crozes          ... */
	color           : #000000;
	}
h5#e43              { /* Aide       */
	color           : #000000;
	text-align      : right;
	position        : absolute;
	left            : 393.75pt;
	top             : 343.50pt;
	width           :  36.75pt;
	height          :  12.75pt;
	}
div#e42             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	text-align      : left;
	position        : absolute;
	left            : 113.25pt;
	top             : 345.75pt;
	width           : 155.25pt;
	height          :  50.25pt;
	}
div#e41             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	text-align      : left;
	position        : absolute;
	left            : 113.25pt;
	top             : 123.75pt;
	width           : 156.00pt;
	height          :  74.25pt;
	}
div#e40             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	text-align      : left;
	position        : absolute;
	left            : 114.00pt;
	top             : 234.00pt;
	width           : 155.25pt;
	height          :  38.25pt;
	}
span#e39            { /* genera001018.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,189.75pt,1.50pt,0.00pt);
	background      : transparent url(genera001018.gif) no-repeat top left;
	position        : absolute;
	left            : 112.50pt;
	top             : 117.75pt;
	width           : 189.75pt;
	height          :   1.50pt;
	}
span#e38            { /* genera001017.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,1.50pt,17.25pt,0.00pt);
	background      : transparent url(genera001017.gif) no-repeat top left;
	position        : absolute;
	left            : 300.00pt;
	top             : 117.75pt;
	width           :   1.50pt;
	height          :  17.25pt;
	}
img#e37             { /* genera001016.jpg */
	background-color: transparent;
	position        : absolute;
	left            : 280.50pt;
	top             : 247.50pt;
	width           :  42.00pt;
	height          :  37.50pt;
	}
img#e36             { /* genera001015.jpg */
	background-color: transparent;
	position        : absolute;
	left            : 287.25pt;
	top             : 135.00pt;
	width           :  28.50pt;
	height          :  37.50pt;
	}
em#e35              { /* more... */
	text-align      : left;
	position        : absolute;
	left            : 276.75pt;
	top             : 291.00pt;
	width           :  26.25pt;
	height          :  15.00pt;
	}
em#e34              { /* more... */
	text-align      : left;
	position        : absolute;
	left            : 276.75pt;
	top             : 399.75pt;
	width           :  26.25pt;
	height          :  17.25pt;
	}
h3#e33              { /* ACCUEIL / INICIO\ */
	background      : transparent url(genera001014.jpg) no-repeat top left;
	position        : absolute;
	left            : 115.50pt;
	top             :  92.25pt;
	width           : 192.00pt;
	height          :  19.50pt;
	}
span#e32            { /* genera001013.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(genera001013.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 107.25pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
div#e31             { /* Accueil */
	color           : #ffff00;
	position        : absolute;
	left            :  20.25pt;
	top             : 107.25pt;
	width           :  73.50pt;
	height          :  17.25pt;
	}
a#a31               { /* Accueil */
	color           : #ffff00;
	}
span#e30            { /* genera001012.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(genera001012.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 129.75pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
span#e29            { /* genera001011.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(genera001011.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 197.25pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
span#e28            { /* genera001010.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(genera001010.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 174.75pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
div#e27             {
	color           : #ffff00;
	position        : absolute;
	left            :  20.25pt;
	top             : 129.75pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a27               {
	color           : #ffff00;
	}
div#e26             { /* Me contacter */
	color           : #ffff00;
	position        : absolute;
	left            :  20.25pt;
	top             : 152.25pt;
	width           :  73.50pt;
	height          :  17.25pt;
	}
a#a26               { /* Me contacter */
	color           : #ffff00;
	}
span#e25            { /* genera001009.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,189.75pt,1.50pt,0.00pt);
	background      : transparent url(genera001009.gif) no-repeat top left;
	position        : absolute;
	left            : 112.50pt;
	top             : 230.25pt;
	width           : 189.75pt;
	height          :   1.50pt;
	}
span#e24            { /* genera001008.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,1.50pt,17.25pt,0.00pt);
	background      : transparent url(genera001008.gif) no-repeat top left;
	position        : absolute;
	left            : 300.00pt;
	top             : 230.25pt;
	width           :   1.50pt;
	height          :  17.25pt;
	}
span#e23            { /* genera001007.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,189.75pt,1.50pt,0.00pt);
	background      : transparent url(genera001007.gif) no-repeat top left;
	position        : absolute;
	left            : 112.50pt;
	top             : 340.50pt;
	width           : 189.75pt;
	height          :   1.50pt;
	}
span#e22            { /* genera001006.gif */
	border          :   0.00pt none #004080;
	clip            : rect(0.00pt,1.50pt,17.25pt,0.00pt);
	background      : transparent url(genera001006.gif) no-repeat top left;
	position        : absolute;
	left            : 300.00pt;
	top             : 340.50pt;
	width           :   1.50pt;
	height          :  17.25pt;
	}
h1#e21              { /* La Fouillade - Quins\ */
	background      : transparent url(genera001005.jpg) no-repeat top left;
	position        : absolute;
	left            :   9.75pt;
	top             :  60.75pt;
	width           : 243.00pt;
	height          :  23.25pt;
	}
span#e20            { /* genera001004.gif */
	background      : transparent url(genera001004.gif) no-repeat top left;
	position        : absolute;
	left            : 276.75pt;
	top             : 358.50pt;
	width           :  48.75pt;
	height          :  41.25pt;
	}
img#e19             { /* genera001003.jpg */
	position        : absolute;
	left            : 383.25pt;
	top             : 319.50pt;
	width           :  71.25pt;
	height          :  34.50pt;
	}
span#e18            { /* recgray.jpg */
	clip            : rect(0.00pt,82.50pt,15.00pt,0.00pt);
	background      : transparent url(recgray.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 219.75pt;
	width           :  82.50pt;
	height          :  15.00pt;
	}
div#e17             { /* Contactarme */
	color           : #00ffff;
	position        : absolute;
	left            :  21.75pt;
	top             : 219.00pt;
	width           :  73.50pt;
	height          :  14.25pt;
	}
a#a17               { /* Contactarme */
	color           : #00ffff;
	}
div#e16             {
	color           : #00ffff;
	position        : absolute;
	left            :  21.00pt;
	top             : 197.25pt;
	width           :  83.25pt;
	height          :  17.25pt;
	}
a#a16               {
	color           : #00ffff;
	}
em#e15              { /* más... */
	color           : #0000ff;
	text-align      : left;
	position        : absolute;
	left            : 300.75pt;
	top             : 291.75pt;
	width           :  26.25pt;
	height          :  12.75pt;
	}
a#a15               { /* más... */
	color           : #0000ff;
	}
em#e14              { /* más... */
	color           : #0000ff;
	text-align      : left;
	position        : absolute;
	left            : 298.50pt;
	top             : 399.00pt;
	width           :  26.25pt;
	height          :  12.75pt;
	}
a#a14               { /* más... */
	color           : #0000ff;
	}
em#e13              { /* more... */
	text-align      : left;
	position        : absolute;
	left            : 278.25pt;
	top             : 180.75pt;
	width           :  26.25pt;
	height          :  15.00pt;
	}
em#e12              { /* más... */
	color           : #0000ff;
	text-align      : left;
	position        : absolute;
	left            : 300.00pt;
	top             : 180.75pt;
	width           :  26.25pt;
	height          :  12.75pt;
	}
a#a12               { /* más... */
	color           : #0000ff;
	}
div#e11             { /* Inicio */
	color           : #00ffff;
	position        : absolute;
	left            :  22.50pt;
	top             : 176.25pt;
	width           :  85.50pt;
	height          :  14.25pt;
	}
a#a11               { /* Inicio */
	color           : #00ffff;
	}
div#e10             { /* clic texte ! */
	position        : absolute;
	left            : 342.00pt;
	top             : 114.75pt;
	width           :  49.50pt;
	height          :  32.25pt;
	}
h5#e9               { /* Ayuda       */
	color           : #ff0000;
	text-align      : right;
	position        : absolute;
	left            : 402.00pt;
	top             : 362.25pt;
	width           :  47.25pt;
	height          :  18.00pt;
	}
div#e8              { /* clic texte ! */
	position        : absolute;
	left            : 347.25pt;
	top             : 234.75pt;
	width           :  42.00pt;
	height          :  47.25pt;
	}
div#e7              { /* clic ! */
	position        : absolute;
	left            : 349.50pt;
	top             : 325.50pt;
	width           :  30.00pt;
	height          :  14.25pt;
	}
img#e6              { /* road.gif */
	position        : absolute;
	left            :  29.25pt;
	top             : 294.75pt;
	width           :  42.00pt;
	height          :  24.75pt;
	}
div#e5              { /* VIDEOS */
	position        : absolute;
	left            :  75.00pt;
	top             : 298.50pt;
	width           :  49.50pt;
	height          :  14.25pt;
	}
div#e4              { /* et autres liens */
	position        : absolute;
	left            :  76.50pt;
	top             : 310.50pt;
	width           :  75.75pt;
	height          :  16.50pt;
	}
img#e3              { /* genera001002.jpg */
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           : 457.50pt;
	height          :  87.00pt;
	}
span#e2             { /* genera001001.jpg */
	background      : transparent url(genera001001.jpg) no-repeat top left;
	position        : absolute;
	left            : 414.00pt;
	top             :  96.00pt;
	width           :  52.50pt;
	height          :  51.00pt;
	}
span#e1             { /* jp_crozes.jpg */
	background      : transparent url(jp_crozes.jpg) no-repeat top left;
	position        : absolute;
	left            : 414.00pt;
	top             : 202.50pt;
	width           :  56.25pt;
	height          :  51.00pt;
	}
body#page           { /* Page Body */
	background-color: #c0c0c0;
	}



/*--- EndOfFile ---*/
